<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/dstyle.css">
    <title>Driver Delivery website</title>
</head>
<body>
    <header>
        <h1>Driver Delivery Website</h1>
        <a href="/dashboard"> Dashboard </a>
        <a href="/list-of-orders"> List of Open Deliveries </a>
        <a href="/delivery-fulfillment-page"> Delivery Fulfillment </a>
        <a href="/delivery-history"> Delivery History </a>
        <a href="/driver-profile"> Driver Profile </a>
        <a href="/logout">Log Out</a>
    </header>
    {{{ body }}}
</body>
</html>
