<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="stylesheet" href="/styles/orders-list-style.css">
  <link rel="stylesheet" href="/styles/orders-history-style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
  <header id="nav">
    <a href="/home" class="navLink">HOME</a>
    <a href="/menus" class="navLink">MENUS</a>
    <a href="/cart" class="navLink">SHOPPING CART</a>
    <a href="/checkorderstatus" class="navLink">TRACK ORDER</a>
  </header>
  <main>
    {{{body}}}
  </main>

  {{!-- <footer>
    <p>
      Contact Us
    </p>
  </footer> --}}
</body>
</html>