<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/order-style.css" />
    <link rel="stylesheet" href="/styles/index-style.css" />
    <link rel="stylesheet" href="/styles/orders-list-style.css">
    <link rel="stylesheet" href="/styles/orders-history-style.css">
  </head>
  <body>
    <header id="nav">
      <a href="/" class="navLink">HOME</a>
      <a href="/orders" class="navLink">ORDERS</a>
      <a href="/orders-history" class="navLink">ORDER-HISTORY</a>
    </header>

    {{{body}}}

    <footer><p>Contact-us: 1100-4422-369</p></footer>
  </body>
</html>