

    <img
      src="https://wallpapers.com/images/hd/cafe-anime-uimtisawnjfca0v3.jpg"
      alt="homePageImage"
      style="height: 800px; width: 100%"
    />

    <h1 id="topHeading">Chefs special
      <img
        src="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/512px/1f525.png"
        alt="fireIcon"
        style="height: 40px; width: 45px;"
      /></h1>
    <section id="foodCards">
      <div class="topFoodCard">
        <img
          src="https://cdn.loveandlemons.com/wp-content/uploads/2023/02/vegan-ramen.jpg"
          alt="food image"
          class="topFoodImg"
        />
        <p>Ramen</p>
      </div>
      <div class="topFoodCard">
        <img
          src="https://cdn.yummy.co.id/content-images/images/20210610/EyKcLuR9clws1M0SMOvrUPDzlSm4jO5q-31363233323838393934d41d8cd98f00b204e9800998ecf8427e.jpg?x-oss-process=image/resize,w_388,h_388,m_fixed,x-oss-process=image/format,webp"
          alt="food image"
          class="topFoodImg"
        />
        <p>Sushi</p>
      </div>
      <div class="topFoodCard">
        <img
          src="https://i.imgur.com/mghU6lm.jpg"
          alt="food image"
          class="topFoodImg"
        />
        <p>Sashimi</p>
      </div>
      <div class="topFoodCard">
        <img
          src="https://cdn.media.amplience.net/i/japancentre/Blog-page-156-Yakitori-Grilled-Skewers/Blog-page-156-Yakitori-Grilled-Skewers?$poi$&w=1112&h=782&sm=c&fmt=auto"
          alt="food image"
          class="topFoodImg"
        />
        <p>Yakitori</p>
      </div>
      <div class="topFoodCard">
        <img
          src="https://salu-salo.com/wp-content/uploads/2016/02/Tonkatsu-Japanese-Pork-Cutlets.jpg"
          alt="food image"
          class="topFoodImg"
        />
        <p>Donburi</p>
      </div>
    </section>
